* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content";
}

.sidebar{
    border: 1px black solid;
    grid-area: sidebar;
}

.header{
    border: 1px black solid;
    grid-area: header;
}

.main-content{
    border: 1px black solid;
    grid-area: main-content
}