/* Regular Weight */
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

/* Bold Weight */
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

:root{
    --sidebar-space: 1em;
    --primary-color: rgb(25 146 212);
    --bg-color: rgb(226 232 240);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Times, serif;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content";
}

.sidebar {
    background-color: var(--primary-color);
    color: white;
    border: 1px red solid;
    grid-area: sidebar;
    padding: var(--sidebar-space);
    font-weight: bold;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: var(--sidebar-space);
    margin-bottom: calc(var(--sidebar-space) * 3);
}

.sidebar .logo .icon {
    display: grid;
    grid-template-areas: 
    "a b"
    "a d"
    "c d";
    background-color: var(--primary-color);
    gap: 3px;
    height: 30px;
    width: 30px;
}

.sidebar .logo .icon .item-a,
.sidebar .logo .icon .item-b,
.sidebar .logo .icon .item-c,
.sidebar .logo .icon .item-d{
    background-color: white;
}

.sidebar .logo .icon .item-a{
    grid-area: a;
}

.sidebar .logo .icon .item-b{
    grid-area: b;
}

.sidebar .logo .icon .item-c{
    grid-area: c;
}

.sidebar .logo .icon .item-d{
    grid-area: d;
}

.sidebar .options {
    display:flex;
    flex-direction: column;
    gap: var(--sidebar-space);
    margin-bottom: calc(var(--sidebar-space) * 3)
}

.sidebar .options .option {
    display:flex;
    align-items: center;
    gap: var(--sidebar-space);
}

.sidebar .options .option img {
    height: calc(var(--sidebar-space) * 1.5)
}

.header {
    display:grid;
    border: 1px red solid;
    background-color: white;
    grid-area: header;
    grid-template-areas:   
        "search search login"
        "info info options";
    padding-left: calc(var(--sidebar-space) * 1.5);
    padding-right: calc(var(--sidebar-space) * 1.5);
}

.header .search {
    display: flex;
    align-items: center;
    border: 1px red solid;
    gap: var(--sidebar-space);
    grid-area: search;
    margin-left: var(--sidebar-space);
    margin-right: var(--sidebar-space);
}

.header .search img, 
.header .login img
{
    height: calc(var(--sidebar-space) * 1.5)
}

.header .search input[type="text"] {
    border-width: 0px;
    background-color: var(--bg-color);
    height: calc(var(--sidebar-space) * 1.5);
    width: 100%;
    border-radius: 20px;
}

.header .login {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--sidebar-space);
    border: 1px red solid;
    grid-area: login;
}

.header .login .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #feca10;
    height: calc(var(--sidebar-space) * 3.5);
    width: calc(var(--sidebar-space) * 3.5);
}

.header .login .avatar img{
    height: calc(var(--sidebar-space) * 2);
}

.header .login .username {
    font-weight: bold;
}

.header .info {
    display: grid;
    grid-template-areas: 
        "avatar greeting . . . ."
        "avatar username username . . .";
    border: 1px red solid;
    grid-area: info;
}

.header .info .avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .info .avatar .background{
    display: flex;
    grid-area: avatar;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #feca10;
    height: calc(var(--sidebar-space) * 4.5);
    width: calc(var(--sidebar-space) * 4.5);
}

.header .info .avatar .background img{
    height: calc(var(--sidebar-space) * 3);
}

.header .info .greeting {
    grid-area: greeting;
    align-self: end;
}

.header .info .greeting + div {
    grid-area: username;
    font-weight: bolder;
    font-size: calc(var(--sidebar-space) * 1.5);
}

.header .options {
    border: 1px red solid;
    grid-area: options;
}

.main-content {
    border: 1px red solid;
    grid-area: main-content
}